@import 'sass/_colors';
@import 'sass/_breakpoints';

:host {
  display: block;
  margin-bottom: 18px;
}

h1 {
  text-align: center;
}

.button-wrapper {
  margin-top: 16px;
  display: grid;
  grid-template-rows: 50px;
  justify-content: center;

  button {
    background-color: $color-accent1;
    color: $color-primary-light;
    border: 1px solid $color-primary-dark;
    border-radius: 3px;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  @include for-phone-only {
    grid-template-columns: 306px;
  }

  @include for-tablet-portrait-up {
    grid-template-columns: 591px;
  }

  @include for-tablet-landscape-up {
    grid-template-columns: 760px;
  }

  @include for-desktop-up {
    grid-template-columns: 1111px;
  }
}
