@import 'sass/_colors';
@import 'sass/_breakpoints';

:host {
  display: grid;
  grid-template-areas:
    'index index'
    'first-roll second-roll'
    'score score';

  grid-template-rows: min-content repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

  &.tenth {
    grid-template-areas:
    'index index'
    'first-roll second-roll'
    'third-roll score';
  }

  @include for-phone-only {
    font-size: 0.5rem;
  }

  @include for-tablet-portrait-up {
    font-size: 0.6rem;
  }

  @include for-tablet-landscape-up {
    font-size: 0.65rem;
  }

  @include for-desktop-up {
    font-size: 1rem;
  }
}

.scorebox-base {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}

.frame-index {
  @extend .scorebox-base;
  grid-area: index;
  background-color: $color-primary-dark;
  color: $color-primary-light;
  font-size: 2.2em;
  font-weight: bold;
  border-bottom: 1px solid $color-primary-dark;

  &.active {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }
}

.first-roll {
  @extend .scorebox-base;
  grid-area: first-roll;
  font-size: 2em;
  background-color: $color-primary-light;
  color: $color-primary-dark;
  border-right: 1px solid $color-primary-dark;
}

.second-roll {
  @extend .scorebox-base;
  grid-area: second-roll;
  font-size: 2em;
  background-color: $color-accent1;
  color: $color-primary-light;
}

.third-roll {
  @extend .scorebox-base;
  grid-area: third-roll;
  font-size: 2em;
  background-color: $color-primary-dark;
  color: $color-primary-light;
  border-top: 1px solid $color-primary-dark;
  border-right: 1px solid $color-primary-dark;
}

.total-score {
  @extend .scorebox-base;
  background-color: $color-accent2;
  grid-area: score;
  border-top: 1px solid $color-primary-dark;
  color: $color-primary-dark;
  font-size: 2em;
}
